<div class="container-fluid">
  <div class="row corFundoFooter">
    <div class="col-1">
        <a href="http://bit.ly/trerj-ppagend" target="_blank">
            <img
                src="./assets/img/logo-trerj-cinza.png"
                alt="Logotipo do TRE-RJ cinza"
                width="128px"
                height="52px"/>
        </a>
    </div>

    <div class="col-2" style="font-size: 11px;">
      <span><strong>STI</strong>  -  Secretaria da Tecnologia da Informa&ccedil;&atilde;o</span><br />
      <span><strong>CSCOR</strong>  -  Coordenadoria de Solu&ccedil;&otilde;es Corporativas</span><br />
      <span><strong>SEDSIS</strong>  -  Se&ccedil;&atilde;o de Desenvolvimento de Sistemas</span><br />
    </div>

    <div class="col-7" style="font-size: 11px;">
      <span><strong>Ouvi</strong>  -  Ouvidoria</span><br />   
    </div>

    <div class="col-2" style="text-align: right">
        <span>{{ ambiente }}</span>
        <br />
        <span><b>Versão: </b>{{ version }}</span>
    </div>

  </div>
</div>
