<nav>
  <mat-toolbar color="primary" class="corMatBar">
      <mat-toolbar-row class="alturaLinha">
          <div class="col-lg-6 col-md-6 col-sm-12 pt-2">
              <h1>
                <img
                    src="./assets/img/logoJE.png"
                    class="treLogo"
                    aria-hidden="true"
                    alt="Prese"
                    height="48px"
                    width="48px"
                   >
                  <span class="fonteNome" >
                    <span class="preseLogo">Ouvidoria</span>                    
                  </span> 
              </h1>
          </div>
      </mat-toolbar-row>
      <mat-toolbar-row class="alturaLinha corLinhaMenu">
        <div class="col-lg-9 col-md-9 col-sm-8">
          <button mat-button  [matMenuTriggerFor]="cadastroOcorrencia" ><mat-icon aria-hidden="false" aria-label="Seta pra baixo" fontIcon="keyboard_arrow_down"></mat-icon>Ocorrência</button>
          <mat-menu #cadastroOcorrencia="matMenu">
              <button mat-menu-item (click)="menuNavegacao('/CadastroOcorrencia')">Cadastro</button>
              <button mat-menu-item (click)="menuNavegacao('/ConsultaOcorrencia')">Consulta</button>
          </mat-menu>

          <button mat-button  [matMenuTriggerFor]="cadastroOcorrencia" ><mat-icon aria-hidden="false" aria-label="Seta pra baixo" fontIcon="keyboard_arrow_down"></mat-icon>Assunto</button>
          <mat-menu #cadastroOcorrencia="matMenu">
              <button mat-menu-item (click)="menuNavegacao('/CadastroOcorrencia')">Cadastro</button>
              <button mat-menu-item (click)="menuNavegacao('/ConsultaOcorrencia')">Consulta</button>
          </mat-menu>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="row">
            <div class="col-9">
              <button mat-icon-button aria-label="Usuário Logado" (click)="trocarPerfil()" >
                <mat-icon>person</mat-icon>
                <span class="usuarioLogado" [innerHTML]="descricaoUsuarioLogado()"></span>
              </button>
            </div>
            <div class="col-1">
              <button mat-icon-button color="warn" aria-label="Parar simulacao" class="p-2" title="Cancelar simulação">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="col-2">
              <button mat-icon-button aria-label="Botão Sair" (click)="logOut()">
                <mat-icon aria-hidden="false" aria-label="Icone sair" fontIcon="exit_to_app"></mat-icon>
                <span class="usuarioLogado">Sair</span>
              </button>
            </div>

          </div>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>
</nav>

